<div class="container">
  <h1><%= t('.sign_in') %></h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' do %>
          <%= resource.class.human_attribute_name('remember_me') %>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit t('devise.sign_in'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
