<div class="container">
  <h1>Addresses</h1>
  <hr>
  <h2>My Address</h2>
  <div id="address">
    <%=	 current_user.address&.address %>
  </div>
  <%=	link_to t('generate_address'), addresses_path, method: :post, remote: true, class: 'btn btn-primary', format: :json , id: 'refresh_address_btn',
               data: { token: form_authenticity_token} %>
</div>
