<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= csrf_meta_tags %>
    <title>Cources</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= Gon::Base.render_data %>
    <%= stylesheet_pack_tag 'bootstrap/bootstrap', media: 'all' %>
    <%= stylesheet_pack_tag 'vendor', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'turbolinks'%>
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-eval': false %>
    <%=	render_flash %>
  </body>
</html>
